@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.crt-widget.crt-widget-branded .crt-logo {
    z-index: 100 !important;
}

:root {
    --main-color: #504751;
}

html {
   scroll-behavior: smooth; 
}

body {
    font-family: "Playfair Display", sans-serif;
    overflow-x: hidden;
}

.row--background {
    background-color: var(--main-color);
}

.width-50 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.row__inner {
    display: flex;
    flex-wrap: wrap;
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 200;
}

.navigation__bar {
    position: relative;
    height: 56px;
    background-color: #ffffff;
    border-bottom: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    z-index: 210;
    padding: 0 16px;
    transition: border ease-in-out 0.2s;
}

.navigation__bar.isOpen {
    border-bottom: 0px;
}

.navigation__bar__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
}

.navigation__open {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 4px;
    transition: transform ease-in-out 0.2s;
}

.navigation__open.isOpen {
    transform: rotate(180deg);
}

.navigation__home {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.navigation__home img {
    width: 100%;
    height: auto;
}

.navigation__content {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 209;
    transition: opacity ease-in-out 0.2s;
}

.navigation__content.hidden {
    opacity: 0;
    pointer-events: none;
}

.navigation__content__list {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.navigation__content__item a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    padding-bottom: 1rem;
    display: inline-block;
}

.navigation__content__item a:hover {
    text-decoration: underline;
}

#header {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#opening-hours {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
}

#find-us {
    padding: 32px 16px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
}

.find-us__image {
    max-width: 100%;
    height: auto;
}

#about {
    padding: 32px 16px;
    color: #ffffff;
}

.about__wrapper {
    display: flex;
    flex-flow: column;
}

.about__title {
    font-size: 3rem;
    position: relative;
}

.about__title::before {
    content: "OM";
    position: absolute;
    top: -12px;
    left: 0;
    font-size: 1.5rem;
}

.about__description {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 0;
}

.about__image {
    max-width: 300px;
    border-radius: 25px;
}

.feed__title {
    font-size: 2rem;
    text-align: center;
    padding: 40px 0 24px 0;
    margin: 0;
}

#handel {
    padding: 32px 16px;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
}

.handel__title {
    text-align: center;
}

@media (min-width: 768px) {
    .about__wrapper {
        flex-flow: row;
    }

    .about__title {
        font-size: 3.5rem;
    }

    .about__title::before {
        font-size: 1.5rem;
        top: -10px;
    }

    .about__description {
        max-width: 70%;
        padding-right: 32px;
    }

    .about__image {
        align-self: flex-start;
    }

    .feed__title {
        font-size: 3rem;
    }

    .navigation__bar {
        justify-content: center;
    }

    .navigation__bar__inner {
        max-width: 800px;
    }

    .handel__title {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    #about {
        padding: 32px 0;
    }

    .row__inner {
        width: 1200px;
        margin: 0 auto;
    }

    .width-50 {
        max-width: 50%;
        display: flex;
        justify-content: center;
    }
}
