@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
    --main-color: #504751;
}

body {
    font-family: "Playfair Display", sans-serif;
    overflow-x: hidden;
}

.row--background {
    background-color: var(--main-color);
}

.row__inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.width-50 {
    width: 50%;
    display: flex;
    justify-content: center;
}

#header {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__logo {
    width: 256px;
    height: 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#opening-hours {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    text-align: center;
}

#find-us {
    padding: 32px 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    text-align: center;
}

.find-us__image {
    max-width: 400px;
    height: auto;
}

#about {
    padding: 32px 0;
    color: #ffffff;
}

.about__wrapper {
    display: flex;
}

.about__title {
    font-size: 3.5rem;
    position: relative;
}

.about__title::before {
    content: "OM";
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 1.5rem;
}

.about__description {
    max-width: 70%;
    font-size: 1.2rem;
    line-height: 1.5;
    padding-right: 32px;
}

.about__image {
    max-width: 300px;
    border-radius: 25px;
}
