---
layout: default
title: Brix Brocante
path: home
---
<main>

  <div class="row">
    <div class="row__inner">
      <div class="width-50">
        {% include "./_includes/partials/opening_hours.html" %}
      </div>
      <div class="width-50">
        {% include "./_includes/partials/find_us.html" %}
      </div>
    </div>
  </div>

  <div class="row--background">
    <div class="row__inner">
      {% include "./_includes/partials/about.html" %}
    </div>
  </div>
  
  {% include "./_includes/partials/feed.html" %}

</main>
